{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">

<h1>{% trans "Confirm E-mail Address" %}</h1>

{% user_display confirmation.email_address.user as user_display %}
        
<p>{% blocktrans with confirmation.email_address.email as email %}You have confirmed that <a href="mailto:{{email}}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

    </div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->


{% endblock %}
