{% extends "base.html"|pjax:request %}

{% block content %}
                <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">

            <div class="col-md-12">
            <h2><div class="text-center">{{poll.question}}</div></h2>
          <div class="box box-solid">
            <div class="box-header with-border">
              <i class="fa fa-clock-o"></i>

              <h3 class="box-title">Опитування триває з {{ poll.date_start|date:" m-d-Y" }} по {{ poll.date_start|date:" m-d-Y" }}</h3>
                  <div class="pull-right">{% if poll.archive == False %}Активне голосування{% else %} Архівне колосування{% endif %} </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
<div class="col-md-6">
              <blockquote>
                <p>{{poll.description}}</p>
              </blockquote>
</div>
<div class="col-md-6">
{% if poll.votable%}
<form action="{% url 'polls:vote' poll.id %}" method="post">
    {% csrf_token %}
    {% for choice in poll.choice_set.all %}
        <div class="form-group">
        <div class="radio">
    <label class="radio"><input type="radio" name="choice_pk" value="{{choice.id}}"> {{choice.choice}}</label>
        </div>
        </div>
    {% endfor %}
    <div class="pull-left"> <input type="submit" class="btn btn-primary" value="Голосувати"></div>
</form>
{% else %}


<ul>


{% for choice in poll.choice_set.all %}
    <li>{{choice.choice}} - {{choice.count_votes}}</li>
{% endfor %}


</ul>



{% endif %}
</div>

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>

    </div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->
{% endblock %}
