{% extends "base.html"|pjax:request %}

{% block title %} Голосування. Інформаційна система "Розумне місто".{% endblock %}
{% block content %}
            <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">
<h1 class="text-center">Місцеві стратегічні питання</h1><br/>
{% if poll_list %}


     <table class="table table-bordered table-hover">
                    <tbody><tr bgcolor="#f4f4f4">
                      <th style="width: 30px"><div class="text-center"> Номер</div></th>
                      <th style="width: 500px"><div class="text-center"> Назва опитування</div></th>
                      <th><div class="text-center"> Старт опитування</div></th>
                      <th><div class="text-center"> Кінець опитування</div></th>
                      <th><div class="text-center"> Статус</div></th>
                    </tr>

              {% for poll in poll_list.all %}

                <tr>
                    <td class="vert-align">
                    <a href="{% url 'polls:detail' poll.id %}">{{poll.id}}</a>
                    </td>
                  <td class="vert-align">

                    <a href="{% url 'polls:detail' poll.id %}">{{poll.question}}</a>
                  </td>
                  <td class="vert-align">

                    <a href="{% url 'polls:detail' poll.id %}">{{poll.date_start|date:"d-m-Y"}}</a>
                  </td>
                 <td class="vert-align">
                    <a href="{% url 'polls:detail' poll.id %}">{{poll.date_end|date:"d-m-Y"}}</a>
                  </td>
                    <td class="vert-align">
                        {% if poll.archive == 0 %}
                    <a href="{% url 'polls:detail' poll.id %}">Іде голосування</a>
                        {% else %}
                    <a href="{% url 'polls:detail' poll.id %}">Архівний</a>
                        {% endif %}
                  </td>



                </tr>


            {% endfor %}
              </tbody></table>


{% else %}
Нажаль, підняті питання для вибраного міста відсутні.
{% endif %}
    </div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->
{% endblock %}
