{% extends 'base.html'|pjax:request %}
{% block title %}Інформація відстутня{% endblock %}

{% block content %}
  <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">
    <h1>Помилка 404</h1>
<h3>Інформація по запиту відсутня. Поверніться на <a href="/">головну сторінку</a></h3>


            </div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->

{% endblock %}