{% extends 'base.html'|pjax:request %}
{% block title %}Про проект Розумне місто{% endblock %}

{% block content %}
        <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">

<b>"Розумне місто"</b> – веб-сервіс, що реалізує концепцію «Smart City» і надає інструменти для оптимізації процесів самоврядування та боротьби з корупцією. «Розумне місто» створено по принципу «мікросервісів», тому він легко підлаштовується під будь-який населений пункт.<br/>
    <br/>

Розробники веб-сервісу «Розумне місто» мають практичний досвід із розробки веб-сервісів для реформування управління
                містом у частині об’єднання зусиль влади і громади міста.<br/><br/>
При створенні продукту, наша команда ставила наступні пріоритети:<br/>
    <ul>
<li>Зручний та інтуїтивно зрозумілий інтерфейс</li>
<li>Багатофункціональність</li>
<li>Консолідованість послуг та інструментів</li>
<li>Можливість встановлення додаткових модулів</li>
<li>Розподілення доступу до модулів в залежності від обраного міста</li>
        <li>Інструмент мотивування користувачів (карма)</li>
        <li>Можливість розробки модулів власноруч та додавання їх до меню свого міста</li>
</ul>

Приєднуйтесь до дружньої родини проекту «Розумного міста»!
            </div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->

{% endblock %}