<!DOCTYPE html>
<html>
<!-- Для поціновувачів вихідного коду: проект писаний на Python 3 з використанням фреймворку Django 1.8. СУБД - MySQL,
кешуючий бекенд - Redis. Весь цей парк працює на Ubuntu. Хочете приєднатись до розробки проекту ? Ми завжди відкриті до співпраці - office@cityfuture.org.ua
-->
{% load staticfiles %}
{% load cache %}



































































  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Розумне місто - інформаційна система, що реалізує концепцію smartcity у містах України{% endblock %}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/ico" />
    <link rel="stylesheet" href="{% static 'css/lightbox.css'%}">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">

    {% block head_top %}{% endblock %}

    <script type="text/javascript" src="{% static 'plugins/jQuery/jQuery-2.1.4.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.validate.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.pjax.min.js'%}"></script>


    {% block head_bottom %}{% endblock %}

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-green-light sidebar-mini layout-boxed">


    <!-- Weunion wrapper -->
    <div class="wrapper">

      <header class="main-header">
        <!-- Logo -->
        <a href="/" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>S</b>C</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><img src="{% static 'img/logo.png' %}" width="200px" /> </span>
        </a>

        <nav class="navbar navbar-static-top" role="navigation">

          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Приховати меню</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

           <div class="chooseatown"><a href="/regions/" class="town" >Розумне місто:   Виберіть
               одне з міст-партнерів
           </a> <i
                   class="fa fa-level-down"></i></div>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

           {% if request.user.is_authenticated  %}
                   <li>

                  <a href="/profile/{{ request.user.id }}">
                <i class="fa fa-user"></i> {{request.user.get_full_name}}
                     <div class="fiobadge"> <span class="badge bg-yellow">{% cache 500 points request.user.email %}{{ request.user.points }}{% endcache %}</span></div>
                </a>

              </li>
             <li> <a href="/accounts/logout"> <i class="fa  fa-close"></i> Вийти</a>     </li>
           {% else %}

                      <li><a href="/accounts/login/"><i class="fa  fa-power-off"></i>  Вхід</a></li>
                      <li> <a href="/accounts/signup/"><i class="fa fa-user-plus"></i> Реєстрація</a></li>

               </li>
           {% endif %}
            </ul>
          </div>
        </nav>
      </header>

      <!-- =============================================== -->
{% load activeurl %}


      <aside class="main-sidebar">
        <section class="sidebar">
            {%  activeurl menu="yes" parent_tag="li" %}
          <ul class="sidebar-menu">
            {% include 'menu.html' %}
          </ul>
            {%  endactiveurl %}

        {%  activeurl menu="yes" parent_tag="li" %}

        <ul class="sidebar-menu">
            <li class="header">Проект "Розумне місто"</li>
               <li>
                  <a href="/about" data-target="\/about"><i class="fa fa-info text-orange"></i> <span>Про проект</span></a>
            </li>
            <li>
                   <a href="/contacts" data-target="\/contacts"><i class="fa fa-phone text-aqua"></i> <span>Контакти</span></a>
            </li>
                <li>
                  <a href="/help" data-target="\/help"><i class="fa fa-life-saver text-red"></i> <span>Допомога</span></a>
            </li>
                <li>
                   <a href="/join"><i class="fa fa-power-off text-green"></i> <span>Місто? Підключайтесь!</span></a>
            </li>
        </ul>
         {%  endactiveurl %}
        </section>
        <!-- /.sidebar -->
      </aside>


      <!-- =============================================== -->

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->



                <div id="pjax-container">

                     {% block content %}

                     {% endblock content %}

                </div>


     </div><!-- /.content-wrapper -->

      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Версія</b> 0.9.1 DEV
        </div>
        <strong>&copy; 2016 <a href="http://www.cityfuture.org.ua" target="_blank">ГО "Місто Майбутнього"</a>.</strong> Усі права
          захищено.
      </footer>



    </div><!-- ./wrapper -->



    <script type="text/javascript" src="{% static 'js/main.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/lightbox.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/fastclick/fastclick.min.js'%}"></script>


    {% block footerjs %}
    {% endblock footerjs %}

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72220102-2', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
