{% extends 'base.html'|pjax:request %}
{% block title %}Контакти. Інформаційна система "Розумне місто".{% endblock %}

{% block content %}
        <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">


<div class="text-center">
    <h2>Зв'язок з ГО "Місто Майбутнього"</h2></div>
                <div class="col-md-6">
        <h4><i class="fa fa-clock-o"></i> Працюємо: з 9:00 - 18:00</h4>
        <h4><i class="fa fa-phone-square"></i> Телефон: +38(098) 600-11-59</h4>
                </div>
                <div class="col-md-6">
        <h4><i class="fa  fa-chrome"></i> Site: <a href="http://cityfuture.org.ua" target="_blank">www.cityfuture.org.ua</a></h4>
        <h4><i class="fa fa-envelope"></i> Email: office@cityfuture.org.ua</h4>
                </div>

      </div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->
    
{% endblock %}