{% extends 'base.html'|pjax:request %}
 {% load staticfiles %}
{% block title %}Розумне місто. Інформаційна система нової країни.{% endblock %}

{% block content %}
            <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">

 <div class="col-md-4"><br/>
       <p align="justify"> <strong>Вітаємо Вас на проекті "Розумне місто" !</strong></p>
        <p align="justify"> Мета проекту - об'єднати зусилля громади та влади над вирішенням проблем міста шляхом роботи через зручний web-сервіс.
        "Розумне місто" - це децентралізована, SAAS інформаційна система з індивідульним набором модулів для кожного
            населеного пункту.
        <a href="http://cityfuture.org.ua" alt="Місто майбутнього" target="_blank">ГО "Місто Майбутнього"</a> підбере найкращий варіант старту системи у Вашому місті, впровадить її та навчить Ваш персонал абсолютно БЕЗКОШТОВНО!  "</p>
     <p align="justify"> <strong>Для старту оберіть <a href="/choosetown/1">тестове</a>  або <a href="/choosetown/4">реальне місто</a>. </strong></p>
 </div>
  <div class="col-md-8">
        <img src="{%  static 'img/main_pic.jpg' %}" style="max-width: 100%;">
 </div>



  <div class="col-md-12">
  <br/>
  <div class="box box-default">
      <div class="box-body">
   <div class="text-center">
         <img src="{%  static 'img/main_progress.jpg' %}" style="max-width: 100%;">
   </div>

<div class="col-md-4">
   <h4>
       <ul>
       <li><p>Інформування населення щодо діяльності державних органів влади</p></li>
         <li><p>Можливість отримання оперативної інформації щодо проблем в місті</p></li>
         <li><p>Можливість вивчати популярні цілі для капітальних інвестицій</p></li>
         <li><p>Можливість розробки модулів під індивідуальні потреби міста</p></li>
       </ul>
   </h4>
</div>
<div class="col-md-4">
   <h4>
       <ul>
       <li><p>Чисте та комфортне місто </p></li>
         <li><p>Безпека та розвиток</p></li>
         <li><p>Покращення рівня обслуговування державними установами в місті</p></li>
         <li><p>Збільшення доходів через відкритість бюджету та витрат </p></li>
       </ul>
   </h4>
</div>
          <div class="col-md-4">
   <h4>
       <ul>
       <li><p>Контроль роботи влади і комунальних підприємств</p></li>
         <li><p>Зручне інформування влади про проблеми міста</p></li>
         <li><p>Доступ до актуальної інформації</p></li>
         <li><p>Можливість ведення реального діалогу з владою</p></li>

       </ul>
   </h4>
</div>
</div>
</div>
  </div>

            </div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->

{% endblock %}