{% extends 'base.html'|pjax:request %}
{% load static %}
{% block title %}Допомога. Інформаційна система "Розумне місто".{% endblock %}

{% block content %}
            <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">

<h2>Сторінка допомоги</h2>

<h3>Реєстрація в системі</h3>
              Натисніть на посилання «Реєстрація» у верхньому правому кутку порталу.<br/><br/>
                <img src="{%  static 'img/help/reg-1.jpg' %}" style="max-width:100%"><br /><br />
                Заповніть форму реєстрації своїми реальними даними та натисніть кнопку «Зареєструватися».<br/><br/>
                 <img src="{%  static 'img/help/reg-3.jpg' %}" style="max-width:100%"><br /><br />
                Тепер Ви знаходитесь на порталі під своїм ім’ям та у місті, вказаному при реєстрації. Однак поки Ви не
                підтвердите e-mail
                адресу, Ви не
                зможете додавати петиції та дефекти, а також не зможете голосувати та залишати коментарі.<br/><br/>
                <img src="{%  static 'img/help/reg-2.jpg' %}" style="max-width:100%"><br /><br />
                <h3>Вибір міста</h3>
 	Після реєстрації, система автоматично показує місто, яке було вказано Вами при реєстрації. Якщо Ви хочете змінити місто, необхідно натиснути «Виберіть розумне місто» у верхній частині порталу.<br/>
                     <img src="{%  static 'img/help/chos-1.jpg' %}" style="max-width:100%"><br /><br />
                Оберіть на мапі область<br/>
                     <img src="{%  static 'img/help/chos-2.jpg' %}" style="max-width:100%"><br /><br />
 	У таблиці оберіть необхідне місто.<br/>
     <img src="{%  static 'img/help/chos-3.jpg' %}" style="max-width:100%"><br /><br />
<h3>Веб-сервіси</h3>
Якщо Вам необхідна допомога по роботі з нашими сервісами, то оберіть пункт меню «Допомога» у випадаючому меню сервісу, з яким виникли труднощі.
                <br/><br />
                     <img src="{%  static 'img/help/help-1.jpg' %}" style="max-width:100%"><br /><br />

            </div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->


{% endblock %}