{% extends 'base.html' %}

{% block title %}Електронні послуги "IGOV". Інформаційна система "Розумне місто". {% endblock %}

{% block content %}
            <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">

<div id="igov_context">
<div id="image" class="text-center"><i class="fa fa-refresh fa-spin" style="font-size: 65px; color: #00733e"></i>
    </br> Зачекайте, будь ласка. Іде завантаження даних...</div>

</div>
  </div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->
{% endblock %}

 {% block footerjs %}
     <script>
     $.ajax({
        type: "POST",
        url: "/igov/",
        data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
            beforeSend: function(){
            $('#image').show();
        },
            complete: function(){
            $('#image').hide();
        },
            success : function(datasuccess) {
             $('#igov_context').html(datasuccess);
        }
     });
     </script>

 {% endblock footerjs %}
