{% extends 'base.html'|pjax:request %}
{% block title %}Приєднатися до Розумного міста{% endblock %}

{% block content %}
        <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">

<h2>Станьте частиною реформ в Україні, приєднуйтесь до нашої команди!</h2>

Для того, щоб запустити сервіс «Розумне місто» у Вашому населеному пункті, Вам необхідно зробити лише 4 кроки: <br/><br/>
1 – <a href="contacts.html">зв’язатися</a> з нашим проект-менеджером та отримати відповіді на виникші запитання
                .<br/><br/>
2 – підписати <a href="https://drive.google.com/file/d/0Bze-38nhjXwrVEF1VmRRQlZ2OHc/view?usp=sharing" target="_blank">меморандум</a>
                про співпрацю між ГО «Місто Майбутнього» та представником
                місцевого апарату влади. Меморандум може бути трьохстороннім: ГО «Місто Майбутнього», місцева влада та громадська організація, з якою Ви співпрацюєте.<br/><br/>
3 – заповнити  <a href="https://drive.google.com/file/d/0Bze-38nhjXwrMjdMb2h4Qk54ZXc/view?usp=sharing"
                  target="_blank">заявки</a> на підключення модулів, необхідних Вашому місту.<br/><br/>
4 – надати можливість нашим спеціалістам провести навчання та сертифікацію Ваших представників.<br/>

            </div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->

{% endblock %}