{% extends 'base.html' %}
{% load static %}

{% block title %}Нарахування балів у карму. Інформаційна система "Розумне місто". {% endblock %}
{% block head_top %}
<script src="{% static 'plugins/chartjs/Chart.min.js' %}"></script>
{% endblock %}

{% block content %}

            <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">

{#  if points.object_list #}

            <div class="text-center"><h2>Список транзакцій по cистемній кармі</h2></div><br/>
        <table class="table table-bordered">
                <tbody>
                <tr>
                  <th>Дата та час</th>
                  <th>Модуль</th>
                  <th>Причина нарахування/відрахування кармічних балів</th>
                  <th width="10px">Бали</th>
                </tr>
                {% for point in points.object_list %}

                <tr>
                  <td>{{ point.datetime|date:"d.m.Y H:m" }}</td>
                  <td>{{ point.module_ref.title }}</td>
                  <td>{{ point.forwhat }}</td>
                  <td>{{ point.points }}</td>

                </tr>
                {% endfor %}
              </tbody>
        </table>
{#  elif #}
            {#  У вас немає ні відрахувань, ні нарахуваннь кармічних балів. Активніше! :) #}
{# endif #}
 <div class="col-md-5 col-md-offset-3">
  {% if points.object_list >= 10 %}  {{ points.render }}{% endif %}
    </div>
  </div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->
{% endblock %}

