            {%  if town %}
                {% autoescape off %}{{ menu }}{% endautoescape %}
            {% else %}


<li class="header">Каталог доступних модулів: </li>
                <li >
              <a href="/">
                <i class="fa fa-dashboard"></i> <span>Стартова сторінка</span>
              </a>
            </li>
            <li class="treeview">
              <a href="/news">
                <i class="fa fa-newspaper-o"></i> <span>Новини міста</span>
              </a>
            </li>
            <li>
              <a href="/regions" >
                <i class="fa fa-search"></i>
                <span>Дефекти ЖКГ</span><i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/defects"><i class="fa fa-th-list"></i> Реєстр заявок</a></li>
                <li><a href="/defects/add"><i class="fa fa-plus-square-o"></i> Додати заявку</a></li>
                <li><a href="/defects/mydefects"><i class="fa fa-user-secret"></i> Мої заявки</a></li>
	            <li><a href="/defects/mydefects"><i class="fa  fa-info"></i> Правила</a></li>
                <li><a href="/defects/help"><i class="fa fa-question-circle"></i>Допомога</a></li>
              </ul>
            </li>


             <li><a href="/petitions" ><i class="fa fa-commenting-o"></i> <span>Петиції</span><i class="fa fa-angle-left pull-right"></i></a>

                <ul class="treeview-menu">
                <li><a href="/petitions/add"><i class="fa fa-plus-square-o"></i> Додати петицію</a></li>
                <li><a href="/petitions/status/2" ><i class="fa fa-circle-o text-light-blue"></i> Активні петиції</a></li>
                <li><a href="/petitions/status/6"><i class="fa fa-circle-o text-yellow"></i> Розглядаються</a></li>
                <li><a href="/petitions/status/4"><i class="fa fa-circle-o text-green"></i> Розглянуті</a></li>
                <li><a href="/petitions/status/3"><i class="fa fa-circle-o text-red"></i> Відхилені</a></li>
                <li><a href="/petitions/status/5"><i class="fa fa-circle-o"></i> Архівні</a></li>
                <li><a href="/petitions/rules"><i class="fa fa-info"></i> Правила</a></li>
                <li><a href="/petitions/help"><i class="fa fa-question-circle"></i> Допомога</a></li>

              </ul>

            </li>

            <li class="treeview">
              <a href="/regions">
                <i class="fa  fa-pie-chart"></i> <span>Відкритий бюджет</span>
              </a>
            </li>
            <li class="treeview">
              <a href="/regions">
                <i class="fa  fa-check"></i> <span>Опитування</span>
              </a>
            </li>
                <li class="treeview">
              <a href="/regions">
                <i class="fa  fa-briefcase"></i> <span>Електронні послуги "IGov"</span>
              </a>
            </li>
                <li class="treeview">
              <a href="/regions">
                <i class="fa  fa-money"></i> <span>Електронні закупівлі "Prozorro"</span>

              </a>
            </li>

            <li class="treeview">
              <a href="/regions">
                <i class="fa fa-edit"></i> <span>Реєстр ліків</span>
	            <small class="label pull-right bg-yellow">на черзі</small>
              </a>
            </li>
              <li class="treeview">
              <a href="/regions">
                <i class="fa fa-users"></i>
	            <span>Черги на житло</span>
	            <small class="label pull-right bg-yellow">на черзі</small>
              </a>
            </li>
            <li class="treeview">
              <a href="/regions">
                <i class="fa fa-taxi"></i>
                <span>Розшук поліції</span>
                <small class="label pull-right bg-grey">план</small>
              </a>
            </li>

            <li class="treeview">
              <a href="/regions">
                <i class="fa fa-building-o"></i>
                <span>ОСББ</span>
                <small class="label pull-right bg-grey">план</small>
              </a>
            </li><li class="treeview">
              <a href="/regions">
                <i class="fa fa-line-chart"></i>
                <span>Рейтинг чиновників</span>
                <small class="label pull-right bg-grey">план</small>
              </a>
            </li>
            <li class="treeview">
              <a href="/regions">
                <i class="fa fa-tree"></i>
                <span>Енергозбереження</span>
                <small class="label pull-right bg-grey">план</small>
              </a>
            </li>

            {% endif %}
