{% extends 'base.html'|pjax:request %}
{% block title %}Електронні закупівлі від "Prozorro".  Інформаційна система "Розумне місто".{% endblock %}

{% block content %}
              <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">

<iframe id="blockrandom" name="iframe" src="http://bid.e-tender.biz/?theme=lumen&amp;edrpou=04055896,34857866,02144743,02013030,26256754,02229221,34814670,04056049,34814859,25558625,34857473,26269018,26256694,34857892,23948575,26256622,35227962,37278207,34814439,26360701,26256659,34814760,26526811,08548401,34857384,26360658,20847537,04056084,04056121,04056115,04056109,25258931,01996622,01996645,01996651,01996668,01997662,01997645,01997679,20845633,01996639,22331468,01984292,01984276,20761149,23970286,23957835,01996674,01984300,01984317,01984323,01984330,23949155,05506460,03348471,20784943,05523814,02128230,03348577,03348956,03348962,03348946,03349022,23884071,13804591,19339008,03328406,13807617,05472519,31804345,13806354,30823414,23948670,33073600,03348465,20772578,20782401,20806739,20806797,20773323,20823933,20822371,20827016,20848459,20826386,19334710,32181700,02144565,20821733,3471 1678,23888525,20834173,34711730,22336887,20834196,22336019,23266976,22350261,22350396,22336611,23888672,02144602,22350217,02144542,20834090,20834204,20834291,20834316,20834322,20834339,20834345,20834351,20834368,20834374,20834411,20834405,20834428,20834285,25231545,25251996,26412763,25238665,02144588,23888560,22350232,23888583,35664603,23888620,23888637,23888666,22350367,23888703,23888695,22350203,35664577,23888519,22366871,02144571,23887402,26056630,25224864,22336508,20834306,22336048,20781471,22336031,20823778,20834434,22336054,22337332,22336278,20821532,22335936,20822052,25558358,22336367,22335988,22336396,22337071,22370559,23270713,02219659,20828103,02225559,02597433,35664399,23969175,33438473,13798057,34559590,36828423,19159482,20854827,23973969,20831855,23975313,26056848,26144908,25261380,23887788,13808643" width="100%" height="1000" scrolling="auto" frameborder="0" class="wrapper"> Ця опція не буде працювати коректно. На жаль ваш браузер не підтримує вбудовані фрейми.</iframe>
  </div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->

{% endblock %}