{% extends 'base.html'|pjax:request %}

{% block title %}Реєстр ліків, що закупаються за рахунок місцевого бюджету. Місто {{ city }}. Інформаційна система "Розумне місто".{% endblock %}

{% block content %}
        <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">



       <div class="text-center"> <h2>Інформація щодо залишків ліків, закуплених за кошти місцевого бюджету</h2></div>
<div id="example1_filter" class="dataTables_filter">
				<input type="search" class="form-control input-sm" placeholder="Фільтр ліків. Введіть мінімум 3 літери..." aria-controls="example1" >
				</div>
    <br/>


              <div class="box ">
                <div class="box-header">
                  <h3 class="box-title">Нетішинська міська лікарня СМСЧ №4. </h3>
                </div><!-- /.box-header -->

                <div class="box-body">

                    <strong>Головний лікар:</strong> Антонюк С.М.<br/>
                    <strong>Телефон:</strong> 2-25-65<br/>
                    <strong>Дата оновлення списку:</strong> 14.01.2016<br/>
                    <strong>Відповідальний за список:</strong> Павлусь А.Р.<br/><br/>

                 <h3>Загальний список</h3>
                  <table id="tab" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>№ п/п</th>
                        <th>Назва лікарського засобу</th>
                        <th>Одиниця виміру</th>
                        <th>Кількість</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>01</td>
                        <td>Папаверіна г/хлорид 20мг/ мл 2.0</td>
                        <td>амп.</td>
                        <td>150</td>

                      </tr>
                      <tr>
                        <td>02</td>
                        <td>Еуфіллін 2%- 5.0</td>
                        <td>амп.</td>
                        <td>190</td>
                      </tr>
                      <tr>
                        <td>03</td>
                        <td>Кордіамін 250 мг/мл 2.0</td>
                        <td>амп.</td>
                        <td>110</td>

                      </tr>
                      <tr>
                        <td>04</td>
                        <td>Адреналін 0,18%-1.0</td>
                        <td>амп.</td>
                        <td>16</td>

                      </tr>
                      <tr>
                        <td>05</td>
                        <td>Лінкомицин 300 мг/ мг 1.0</td>
                        <td>амп.</td>
                        <td>37</td>

                      </tr>


                    </tbody>
                    <tfoot>
                      <tr>
                           <th>№ п/п</th>
                        <th>Назва лікарського засобу</th>
                        <th>Одиниця виміру</th>
                        <th>Кількість</th>
                      </tr>
                    </tfoot>
                  </table>
                    <h3>Хірургічне відділення</h3>
                      <table id="tab2" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>№ п/п</th>
                        <th>Назва лікарського засобу</th>
                        <th>Одиниця виміру</th>
                        <th>Кількість</th>

                      </tr>
                    </thead>
                    <tbody>
                                   <tr>
                        <td>01</td>
                        <td>Гентаміцин 40 мг/ мл 2.0</td>
                        <td>амп.</td>
                        <td>86</td>

                      </tr>
                      <tr>
                        <td>02</td>
                        <td>Катетер  пупочний</td>
                        <td>шт.</td>
                        <td>17</td>

                      </tr>
                      <tr>
                        <td>03</td>
                        <td>Метронідазол 0,5%- 100 мл.</td>
                        <td>фл.</td>
                        <td>18</td>

                      </tr>
                      <tr>
                        <td>04</td>
                        <td>АКК 5% - 100 мл</td>
                        <td>фл.</td>
                        <td>28</td>

                      </tr>
                      <tr>
                        <td>05</td>
                        <td>Глюкоза 50 мг/мл – 200 мл</td>
                        <td>фл.</td>
                        <td>19</td>

                      </tr>
                      <tr>
                        <td>06</td>
                        <td>анальгін 0,5 гр</td>
                        <td>уп.</td>
                        <td>20</td>

                      </tr>
                      <tr>
                        <td>07</td>
                        <td>мукалтін 50мг  30</td>
                        <td>уп.</td>
                        <td>15</td>

                      </tr>



                    </tbody>
                    <tfoot>
                      <tr>
                           <th>№ п/п</th>
                        <th>Назва лікарського засобу</th>
                        <th>Одиниця виміру</th>
                        <th>Кількість</th>
                      </tr>
                    </tfoot>
                  </table>

                </div><!-- /.box-body -->
              </div><!-- /.box -->

</div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->
{% endblock %}