{% extends 'base.html'|pjax:request %}

{% block title %}{{ article.title }}. Інформаційна система "Розумне місто".{% endblock %}


{% block content %}
<section class="content-header">
      <h1>Новини. {{ article.town.town_type.title }} {{ article.town.name }}</h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> Головна</a></li>
        <li><a href="/news/">Список новин</a></li>
        <li class="active">Новина</li>
      </ol>
    </section>
 <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">





    {% if allowed %}

    <div class="col-md-12">

        <div class="box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title">Інструменти модератора:</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">


            <div class="col-md-4">
                <a href="edit/{{ article.id }}"><button type="button" class="btn btn-block btn-primary">Редагувати новину</button></a>
            </div>


            <div class="col-md-4">
                <a href="delete/{{ article.id }}"><button type="button"  data-toggle="modal" data-target="#modal_hidearticle" class="btn btn-block btn-danger">Видалити новину</button></a>

            </div>
                <div class="col-md-4">
                {% if article.publish %}

                <a href="unpublish/{{ article.id }}" class="btn btn-block btn-primary">Зняти з публікації</a>
                {% else %}
                    <a href="publish/{{ article.id }}" class="btn btn-block btn-success">Опублікувати</a>
                {% endif %}
            </div>

        </div>
   </div>

    {% endif %}

<div class="text-center"> <h3 class="box-title">{{ article.title }}</h3></div>
        <div class="box">
                <div class="box-header with-border">
                    {% if article.publish == 1 %}
                    <span class="label label-success">Опублікована ({{ article.datetime_publish|date:"d.m.Y H:m" }})</span>

                    {% else %}
                    <span class="label label-warning">Не опублікована (Створена: {{ article.datetime|date:"d.m.Y H:m" }})</span>

                    {% endif %}

                    <div class="pull-right">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.rozumnemisto.org/news/{{ article.id }}" target="_blank" ><i class="fa fa-facebook-official" style="font-size: 24px"></i></a>
                        <a href="http://vkontakte.ru/share.php?url=http%3A//www.rozumnemisto.org/news/{{ article.id }}" target="_blank"> <i class="fa fa-vk" style="font-size: 24px"></i></a>
                        <a href="http://www.ok.ru/dk?st.cmd=addShare&st.s=1&st._surl=http%3A//www.rozumnemisto.org/news/{{ article.id }}&st.comments={{ article.title }}" target="_blank"> <i class="fa fa-odnoklassniki-square" style="font-size: 24px"></i></a>
                        <a href="https://twitter.com/home?status={{ article.title|truncatewords:80 }}http%3A//www.rozumnemisto.org/news/{{ article.id }}" target="_blank"> <i class="fa fa-twitter" style="font-size: 24px"></i></a>
                    </div>


                </div>
        <div class="box-body">
                {% autoescape off %}
                {{ article.text }}
               {% endautoescape %}

        </div>

</div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->
{% endblock %}

